* {
    font-family: 'Press Start 2P';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    background: #209cee;
    padding: 0.5rem;
}

body {
    h1 {
        text-align: center;
    }
    .nes-container {
        background: #fff;
        width: 100%;
        margin: 1rem 0;

        p {
            span {
                display: none;
                text-align: left;
            }

            text-align: center;
        }
    }
    form {
        display: flex !important;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        background: rgb(247, 218, 182);
        padding: 1rem;
        border: 4px solid #000;

        .joystick,
        .buttons {
            input {
                height: 50px;
                width: 50px;
                padding: 0;
                border: 2px solid #000;
                margin: 2px;
            }
        }

        .joystick {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .vertical {
                display: flex;
                flex-direction: column;
                height: 100%;

                input {
                    height: 50px;
                }

                #up {
                    align-self: flex-start;
                }

                #down {
                    align-self: flex-end;
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: space-around;
        }
    }

    #save {
        width: 80%;
        margin: 1rem auto;
    }
}

input {
    text-align: center;
}