* {
  font-family: 'Press Start 2P';
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background: #209cee;
  padding: 0.5rem; }

body h1 {
  text-align: center; }

body .nes-container {
  background: #fff;
  width: 100%;
  margin: 1rem 0; }
  body .nes-container p {
    text-align: center; }
    body .nes-container p span {
      display: none;
      text-align: left; }

body form {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  background: #f7dab6;
  padding: 1rem;
  border: 4px solid #000; }
  body form .joystick input,
  body form .buttons input {
    height: 50px;
    width: 50px;
    padding: 0;
    border: 2px solid #000;
    margin: 2px; }
  body form .joystick {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
    body form .joystick .vertical {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column;
      height: 100%; }
      body form .joystick .vertical input {
        height: 50px; }
      body form .joystick .vertical #up {
        -webkit-align-self: flex-start;
                align-self: flex-start; }
      body form .joystick .vertical #down {
        -webkit-align-self: flex-end;
                align-self: flex-end; }
  body form .buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
            justify-content: space-around; }

body #save {
  width: 80%;
  margin: 1rem auto; }

input {
  text-align: center; }
